*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/edu/dlsu/mobapde/labdatabasephone/MainActivity.java
/app/src/main/java/edu/dlsu/mobapde/labdatabasephone/CreatePhoneActivity.java
/app/src/main/java/edu/dlsu/mobapde/labdatabasephone/ViewPhoneActivity.java
/app/src/main/java/edu/dlsu/mobapde/labdatabasephone/PhonesAdapterSkeleton.java
